
input {
    height: 30px;
}
.react-select-container {
    color: grey;
    background-color: grey;
}
.newrm-form {
    color: black;
    background-color:rgba(83, 146, 155, .6);
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}

.newrm-inputs {
    padding: 3px;
    margin: 3px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}
