.chat-menu-comp {
    background-color: orange;
    max-height: 80vh;
    max-width: 85vw;
    position: relative;
    border-radius: 0px 0px 20px 0px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, .26);
    padding: 10px;
}

.fa-search {
    color: #d6f1c4;
    padding: 3px;
}

.search-input {
    display: flex;
    flex-direction: row;
}