* {
    margin: 0;
    padding: 0;
}

Link {
    text-decoration: none !important;
}

li {
    list-style: none;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 3px;
    margin: 3px;
}

ul {
    text-decoration: none !important;
}

.rooms-list {
    text-decoration: none;
    color: #2E2A39;
}

.chat-menu-comp {
    background-color: rgb(138, 138, 138);
    max-height: 80vh;
    max-width: 85vw;
    position: relative;
    border-radius: 0px 0px 20px 0px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, .26);
    padding: 10px;
}

.fa-search {
    color: #d6f1c4;
    padding: 3px;
}

.search-input {
    display: flex;
    flex-direction: row;
}