h1 {
    text-shadow: -4px 2px 2px #d6f1c4;
}

h2 {
 color: #d6f1c4;
 text-shadow: -2px 2px 2px #e95d2a;
}

.dash-comp {
    // background-color: #62784f;
    background-color: #d6f1c4;
    height: 100vh;
}