
.h2-high-contrast {
 color: #ffffff;
 text-shadow: -4px 2px 2px #e95d2a;
 font-family: 'Shrikhand', cursive;
 padding: 10px;
//  font-size: 30px;
}

.dash-comp {
    // background-color: #ffffff;
    // background-color: rgba(83, 146, 155, .5);
    color: #e95d2a;
    min-height: 100vh;
    display: flex;
    padding-top: 10px;
}

.fa-arrow-alt-circle-up {
    margin: 10px;
}

@media (min-width: 768px) {
    .h2-high-contrast {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .h2-high-contrast {
        font-size: 24px;
    }
}