h1 {
    text-shadow: -4px 2px 2px #d6f1c4;
}

h2 {
 color: #d6f1c4;
 text-shadow: -2px 2px 2px #e95d2a;
}

p {
    padding: 10px;
    color: #643754;
}

.dash-comp {
    background-color: #d6f1c4;
    color: #643754;
    height: 100vh;
    display: flex;
}

.fa-arrow-alt-circle-up {
    padding: 10px;
}