* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

h1 {
    color: #d6f1c4;
    margin-top: 20px;
}

.nav-comp {
    background-color: #e95d2a;
    // width: 100vw;
    // height: 75px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    // box-sizing: border-box;
}

.dash-header {
    text-decoration: none;
   }

.show-menu-toggle {
    position: absolute;
}

.fa-bars, .fa-user-circle {
    color: #d6f1c4;
}

.chat-room-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 90px;
    left: 5px;
}

.user-menu-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 90px;
    right: 10px;
    text-align: right;
}
