h1 {
    color: #e95d2a;
    text-shadow: -2px 2px 2px #f5e258;
    margin-top: 20px;
    position: ;
}
.nav-comp {
    background-color: #e95d2a;
    height: 75px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.fa-bars {
    color: #d6f1c4;
    // position: ;
}

.fa-user-circle {
    color: #d6f1c4;
}

.chat-room-container {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 300px;
}
