* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #d6f1c4;
    // text-shadow: -3px 3px 1px ;
    margin-top: 20px;
}

.dash-header {
 text-decoration: none;
}

.nav-comp {
    background-color: #e95d2a;
    height: 75px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.show-menu-toggle {
    position: absolute;
}

.fa-bars, .fa-user-circle {
    color: #d6f1c4;
    // margin: 0px;
}

.chat-room-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 90px;
    left: 5px;
}
