h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    color: #ffffff;
    text-shadow: -2px 2px 2px #53929b;
    margin: 10px;
}

.messages, .message-edit {
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, .26);
    width: 90vw;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}

.messages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
}

@media (min-width: 768px) {
    h3 {
        font-size: 18px;
    }

    p {
        font-size: 18px; 
    }
}

@media (max-width: 767px) {
    h3 {
        font-size: 14px;
    }
    
    p {
        font-size: 14px; 
    }
}